/*تُطبّق على جميع العناصر في الصفحة.*/
* {
  margin: 0;/* ازالة المسافة الخارجية بين العناصر */
  padding: 0;/* ازالة المسافة الداخلية داخل العنصر بين الحافة و المحتوى */
  box-sizing: border-box;/*يجعل حجم العنصر يشمل البادينج والحدود  للترتيب الدقيق)*/
  font-family: serif;
  text-decoration: none;/*إزالة أي تأثير مثل الخط تحت الروابط underline.*/
  outline: none; border: none;/*إزالة الحدود المؤقتة اللي تظهر عند التنقل باستخدام الكيبورد.
border: none;	إزالة أي حدود ظاهرة للعناصر.*/
  text-transform: capitalize;/*يجعل أول حرف في كل كلمة كبير*/
  transition: .2s linear;/*عطي تأثير سلس عند تغير أي خاصية مثل اللون أو الحجم خلال 0.2 ثانية. linear تعني السرعة ثابتة خلال التحوّل*/
}
/* ======== تنسيق عام لجميع الصفحات ======== */
html {
scroll-behavior: smooth;/*تجعل التمرير (Scrolling) سلسًا عند الانتقال إلى الروابط داخل الصفحة*/
scroll-padding-top: 6rem;/*تضيف مسافة (padding) من الأعلى عند التمرير إلى قسم معين.*/
overflow-x: hidden;/*يمنع التمرير الأفقي.*/

}
body {
  font-family: serif;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: palevioletred; /* لون مختلف للعناوين */
  margin-top: 0;
  margin-bottom: 0.5em;/* مسافة (فراغ) تحت العنصر نصف حجم الخط الحالي للعنصر.*/
}
p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;/* تحدد ارتفاع كل سطر داخل عنصر يحتوي على نص.*/
  margin-top: 0;
  margin-bottom: 1em;
  font-family: serif;
}
/* الروابط */
a {
  color: palevioletred;
  text-decoration: none;/*لإزالة التزيين الافتراضي للنص*/

}

a:hover {
  color: pink;
  text-decoration: underline;/*تحط خط */
}

/* الأزرار */
button {
  background-color:lightpink;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;/*تُستخدم لتغيير شكل المؤشر عند تحريكه فوق عنصر أعرض يدًا تشير  */
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color:palevioletred;
}
/* الروابط داخل الأزرار */
button a {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* ======== تنسيق الهيدر ======== */

header {
  background-color: lightpink;
  color: white;
  padding: 15px 20px;
  overflow: hidden; /* لتنظيف الفلوات */
}

header a.long {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  float: left;/* تجعل العنصر إلى جهة اليسار */
  font-family: serif;
  font-style: italic;
  
}

nav.navbar {
  float: right;
}

nav.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.navbar ul li {
  float: left;
  margin-left: 20px;
}

nav.navbar ul li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 5px;
  font-family: serif;
}

nav.navbar ul li a:hover {
  text-decoration: underline;
  color: palevioletred;
}

/* ======== المحتوى الرئيسي (Main) ======== */

main {
  padding: 5px 5px;
  margin: 20px auto;
  max-width: 1024px;/*بتحدد أقصى عرض ممكن يكون عنده العنصر.*/
 box-sizing: border-box;/*تتحكم في طريقة حساب أبعاد العنصر (العرض والارتفاع).*/

}
section{
padding: 2rem;
}
/* القسم اللي اسمه roselight */
section.roselight {
  text-align: center;
  margin-bottom: 30px;
  background-image: url('images/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; /* خلي لون النص واضح على الخلفية */
  padding: 50px 20px;
  min-width:  100%;


}
.roselight h2 {
  color: palevioletred;
  font-size: 2rem;
  font-family: serif;
  font-style: italic;
}

.roselight .rose span  {
  font-style: italic;
  color: slategrey;
  margin: 0.5em 0 1em 0;
  padding: 1rem;
}

section.roselight p {
  font-size: 1rem;
  color: #555;
}

/* زر الشوب ناو */
section.roselight button {
  margin-top: 15px;
}

/* ======== قسم about us ======== */
section.about {
  padding: 20px;
  border-radius: 8px;
}

section.about h2 {
  text-transform: uppercase;/*بتتحكم بكيفية ظهور نص العنصر */
  font-weight: bold;
  color: palevioletred;
  background-color: lightpink;
   border-radius: 8px;
   text-align: center;
}
section.about h2 span{
 text-transform: uppercase;

}
section.about .content h3 {
  color: lightpink;
  margin-top: 0;
}

section.about .content p {
  color: #555;
}

/* ======== الفيديو ======== */

.video-section iframe {
  display: block;/*تتحكم بطريقة عرض العنصر في الصفحة*/
  margin: 20px auto;
  max-width: 100%;
  border: 3px solid lightpink;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
}
.video-section h2{
text-transform: uppercase;
  font-weight: bold;
  color: palevioletred;
  background-color: lightpink;
   border-radius: 8px;
   text-align: center;

}

/* ======== المميزات (Features) ======== */

section ul {
  display: flex;/*يحول الحاوية إلى "صندوق مرن.*/
  flex-wrap: wrap;/* تسمح للعناصر بالتفاف الصف */
  justify-content: space-around;/*توزع العناصر بمساحات متساوية حول كل عنصر*/
  list-style: none;
  padding: 40px 20px;
  margin: 0;
  border-color: palevioletred;
}

section ul li {
  flex: 1 1 calc(50%,40px);
  min-width: 400px;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-weight: bold;
  color: lightpink;
  transition: transform 0.3s ease;
  font-family: serif;
  border: 2px solid lightpink; 
}

section ul li:hover {
  transform: scale(1.05);
}

/* ======== منتجات (Products) ======== */
section #Products{
text-transform: uppercase;
  font-weight: bold;
  color: palevioletred;
  background-color: lightpink;
   border-radius: 8px;
   text-align: center;
    padding: 20px;
}
section figure {
  display: inline-block;
  width: 200px; /* تقريبًا نصف عرض الصفحة */
  margin: 1%;  /* مسافة بسيطة بينهم */
  box-sizing: border-box;/*تم حساب عرض وارتفاع العنصر */
  vertical-align: top;/*ستخدم لتحديد كيف يتم محاذاة العناصر الداخلية بشكل عمودي*/
  text-align: center;
}
section figure img {
  width: 100%;           /* يملى كل مساحة figure */
 height: 230px; 
  aspect-ratio: 1 / 1;   /* يخلي الصورة مربعة */
  object-fit: cover;     /* لقص الصورة وتعبئة المربع */
  border-radius: 8px;
  border: 1px solid lightpink;
  padding: 3px;
}

section figure figcaption {
  margin-top: 5px;
  font-weight: 600;
  color: #555;
}

/* ======== الفوتر ======== */

footer {
  background-color: lightpink;
  color: white;
  padding: 15px 20px;
  text-align: left center;
  font-size: 0.9rem;
}

footer a {
  color:palevioletred ;
}

footer a:hover {
  color:lightcoral ;
  text-decoration: underline;
}

footer hr {
  border: 0;
  height: 1px;
  background: #7f8c8d;
  margin: 15px 0;
}
/* css calclator*/
#calculations {
  background-color: #fff0f5;
  padding: 20px;
  margin: 40px auto;
  width: 60%;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

#calculations h2 {
 text-transform: uppercase;
  font-weight: bold;
  color: palevioletred;
  background-color: lightpink;
   border-radius: 8px;
   text-align: center;
}
#calculations p {
  font-size: 18px;
  margin: 8px 0;
}
/*-------- singUp--------*/
/* ترتيب label و input في نفس السطر */
 .form-container {
  max-width: 800px;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 192, 203, 0.5);
}
.form-row {
  margin-bottom: 20px;
  font-size: 0; /* لحذف الفراغات بين inline-block العناصر */
}

.form-group {
  display: inline-block;
  vertical-align: top;/*تحدد كيف يتم محاذاة عنصر نص أو صورة أو عنصر*/
  width: 48%;
  background-color: lightpink;
  padding: 15px;
  margin-right: 2%;
  margin-bottom: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #800000;
  

}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #d87093;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 14px;
}

input::placeholder {
  color: #a0522d;
  opacity: 0.7;/* تتحكم في شفافية العنصر.*/
}
.gender-options {
  margin-top: 5px;
  font-weight: normal;
    color:#800000;
}

.gender-options input {
  margin-right: 5px;
  color:#800000;
} 
#signUp{
  color: palevioletred;
  background-color: lightpink;
   border-radius: 8px;
   text-align: center;
}
/* ------- contact Us -------*/
#contactUs{
  color: palevioletred;
  background-color: lightpink;
   border-radius: 8px;
   text-align:center;
}
.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.form-message label {
  display: block;
  font-weight: bold;
  color: #800000; /* نفس لون الليبلات */
  margin-bottom: 8px;
  font-family: serif;
}
.form-message {
  margin-bottom: 15px;
}
 .form-message textarea {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #d87093;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: inherit;
  background-color: lightpink;
  color: #800000;
  resize: vertical; /* يسمح بتغيير الارتفاع فقط */
  min-height: 100px;
  text-align: left; /* لمحاذاة النص في يسار */
  margin-top: 8px;
}

.form-message textarea {
  height: 120px;
}
.form-message textarea:focus {
  border-color: deeppink;
  outline: none;
  background-color: #ffe6f0;
}
.OurLocation #Location{
  color: palevioletred;
  background-color: lightpink;
   border-radius: 8px;
   text-align: center;
}
.OurLocation iframe{
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border: 3px solid lightpink;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
}





